/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Poppins:wght@500&display=swap');
/* common style utiliteis  */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    flex-direction:column;
    align-items: center;
}
.container{
    background-color: white;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 5px;
}
hr{
    border: 1px solid #D1D1D1;
}
/* Top plyers start  */
.top-plyers{
    margin-bottom: 30px;
}
.section-title{
    font-size: 24px;
    color: #562eff;
    margin-top: 3px;
}
.plyers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}
.plyer{
    display: flex;
    align-items: center;
}
.plyer img{
    width: 56px;
    height: 56px;
}
.plyers-name{
    margin-left: 16px;
    font-size: 18px;
}

/*------------- 
Top blogs start
--------------*/
.blogs-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    margin-top: 30px;
    border-radius: 5px;
}
.thumbnail img{
    width: 177px;
    height: 117px;
}
.blog{
    display: flex;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: gray;
    font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    font-size: 16px;
    color:#562EFF;
}

/* courses section  */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
    
}
.course .course-banner img{
    width: 224px;
    height: 104px;
}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.course-author{
    color: #ED6B4F;
}
.fa-star.filled{
    color: #ffb806;
    font-size: 12px;
}
.fa-star.empty{
    color: #c9c9c9;
    font-size: 12px;
}
.course-duration{
    margin-left: 12px;
    background-color: #ffd8e5e7;
    color: palevioletred;
    padding: 5px 10px;
    border-radius: 15px;
}
/* media quary  */
/* mobile device  */
@media only screen and (max-width:688px){
    .container{
        width: 100%;
    }
    .plyers, .blogs-container, .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .plyer, .blog, .courses{
        flex-direction: column;
        padding: 0px 80px;
    }
}
/* tablet device  */
@media only screen and (min-width: 688px) and (max-width: 992px){
    .container{
        width: 100%;
    }
    .plyers, .courses{
        grid-template-columns: repeat(2, 1fr);
        padding: 0px 54px;
    }
    .blog{
        grid-template-columns: repeat(1, 1fr);
        padding: 0px 30px;
    }
}